---
title: Mayday Parade | Share To Win
---
<div id="border-wrap">
  <%= partial "partials/header" %>
  <%= partial "partials/video" %>
  <%= partial "partials/contest" %>
  <%= partial "partials/tourdates" %>
  <%= partial "partials/socials" %>
  <%= partial "layouts/partials/footer" %>
</div>
